@font-face {
  font-family: "kr_cane_lettersregular";
  src: url("krcaneletters-webfont.woff2") format("woff2"), url("krcaneletters-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  border-left-width: 10px;
  border-right-width: 10px;
  border-top-width: 0px !important;
  border-bottom-width: 0px !important;
  border-style: solid;
  border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 25% round;
}
@media screen and (max-width: 766px) {
  body {
    border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 1% round;
  }
}

.section-header h3.h3 {
  font-family: kr_cane_lettersregular;
  color: white;
  font-size: 65px;
  margin-top: 15px;
  word-spacing: -35px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";
  text-shadow: 0 0 4px red, 0 0 12px red, 4px 4px 4px #4fa3d4, 4px 4px 4px red;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
}
@media screen and (max-width: 766px) {
  .section-header h3.h3 {
    font-size: 48px;
  }
}

h2.section-header__title {
  font-family: kr_cane_lettersregular;
  color: white;
  font-size: 65px !important;
  margin-top: 15px;
  word-spacing: -35px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";
  text-shadow: 0 0 4px red, 0 0 12px red, 4px 4px 4px #4fa3d4, 4px 4px 4px red;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
}
@media screen and (max-width: 766px) {
  h2.section-header__title {
    font-size: 48px !important;
  }
}

.top-header {
  background-image: url(//cdn-tp3.mozu.com/24484-m1/cms/files/45c9291a-0a3b-408f-881f-44256a07831d), url(//cdn-tp3.mozu.com/24484-m1/cms/files/1753a97e-55e1-4cc4-8098-4a1b53e16f0e), url(//cdn-tp3.mozu.com/24484-m1/cms/files/6c564f6e-1d2b-4ab6-90ec-dadaa4a821b0) !important;
  border-bottom: unset !important;
}
@media screen and (max-width: 766px) {
  .top-header {
    height: 50px !important;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 10px !important;
    border-bottom-width: 0px !important;
    border-style: solid;
    border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 1% round;
  }
}

div#header {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 10px !important;
  border-bottom-width: 10px !important;
  border-style: solid;
  border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 25% round;
}
@media screen and (max-width: 766px) {
  div#header {
    border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 1% round;
  }
}

.header-wrap {
  background-image: url(https://ubisafe.org/images/snowflake-transparent-cool-6.png);
  background-position: 0 245px;
}

#header-social-icons {
  text-align: center;
  margin: 5px 0px;
  display: none !important;
}

#header-social-icons li {
  width: 50px;
}

.search__submit {
  color: white !important;
}

#AccessibleNav {
  background-image: url(//cdn-tp3.mozu.com/24484-m1/cms/files/45c9291a-0a3b-408f-881f-44256a07831d), url(//cdn-tp3.mozu.com/24484-m1/cms/files/1753a97e-55e1-4cc4-8098-4a1b53e16f0e), url(//cdn-tp3.mozu.com/24484-m1/cms/files/6c564f6e-1d2b-4ab6-90ec-dadaa4a821b0) !important;
  padding: 15px 0px;
  width: 100%;
  height: 100%;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px !important;
  border-bottom-width: 10px !important;
  border-style: solid;
  border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 25% round;
  background-color: rgba(42, 91, 22, 0.9) !important;
}
@media screen and (max-width: 766px) {
  #AccessibleNav {
    border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 1% round;
  }
}

#siteNav > li > a {
  font-size: 14px !important;
}

.site-header__logo img {
  max-height: 100% !important;
  width: 100%;
}

.page-container {
  width: 100%;
  height: 100%;
}
#featured-container {
  margin: 25px 0px;
  padding: 10px 0px;
  border-top: 1px solid black;
}

#featured-container h2 {
  text-align: center;
  font-family: "Spicy Rice", cursive;
  color: red;
  font-size: 22px;
}
@media screen and (max-width: 766px) {
  #featured-container h2 {
    margin: 10px 0px;
  }
}

#featured-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 766px) {
  #featured-container ul {
    flex-wrap: wrap;
  }
}

#featured-container ul li {
  width: 160px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.newsletter-ft-top {
  background-image: url(//cdn-tp3.mozu.com/24484-m1/cms/files/45c9291a-0a3b-408f-881f-44256a07831d), url(//cdn-tp3.mozu.com/24484-m1/cms/files/1753a97e-55e1-4cc4-8098-4a1b53e16f0e), url(//cdn-tp3.mozu.com/24484-m1/cms/files/6c564f6e-1d2b-4ab6-90ec-dadaa4a821b0) !important;
  padding: 15px 0px !important;
  border-top-width: 10px !important;
  border-right-width: 0px !important;
  border-style: solid;
  border-bottom-width: 10px;
  border-left-width: 0px;
  border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 25% round;
}
@media screen and (max-width: 766px) {
  .newsletter-ft-top {
    border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 1% round;
  }
}

.site-footer {
  background-image: url(https://ubisafe.org/images/snowflake-transparent-cool-6.png);
  border-bottom-width: 10px !important;
  border-right-width: 0px !important;
  border-style: solid;
  /* border-bottom-width: 0px; */
  border-left-width: 0px;
  border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 25% round;
  border-top-width: 0px;
}
@media screen and (max-width: 766px) {
  .site-footer {
    border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 1% round;
  }
}

ul.addressFooter {
  font-weight: 700;
}

.footer-links a {
  font-weight: 700;
  font-family: "Oswald", sans-serif !important;
}

li.email a {
  color: black !important;
  font-weight: 700;
}

#PageContainer h3:first-child {
  margin-top: 15px;
}

footer div.text {
  font-weight: 500;
}

.newsletter__submit {
  color: white !important;
}

.site-footer h4.h4 {
  font-size: 15px;
  font-weight: 900 !important;
}

.shopify-section {
  border-top-width: 0px !important;
  border-right-width: 0px !important;
  border-style: solid;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 25% round;
}
@media screen and (max-width: 766px) {
  .shopify-section {
    border-image: url(https://t4.rbxcdn.com/589ace3c6f967b79a7aa0752df368162) 1% round;
  }
}

.product-action {
  display: flex;
  flex-direction: column;
}

button#AddToCart-product-template {
  margin-top: 20px;
  width: 370px;
}

@media screen and (min-width: 767px) {
  .product-description p {
    width: 80%;
  }
}
footer ul.list--inline.site-footer__social-icons.social-icons > li > a {
  display: none !important;
}

footer ul.list--inline.site-footer__social-icons.social-icons > li:nth-child(2) > a {
  display: none;
}

.product-tabs li:first-child {
  display: none;
}

#tab1 {
  display: none !important;
}

img#FeaturedImage-product-template {
  height: 420px !important;
}

h1.product-single__title, .product-single__title.h1 {
  color: white !important;
  font-family: "Spicy Rice", cursive;
  font-size: 32px !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";
  text-shadow: 0 0 3px rgba(44, 107, 13, 0.8), 0 0 3px #CC0000, 0 0 3px #FF3108, 3px 3px 3px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
}

.rte ul {
  margin: 0px !important;
}

.tab-content {
  display: inline !important;
  font-size: 14px;
  font-weight: 700;
  font-family: "Oswald", sans-serif !important;
}

h1.collection-title {
  font-family: kr_cane_lettersregular;
  font-weight: 500;
  color: white;
  font-size: 65px;
  margin-top: 15px;
  word-spacing: -35px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";
  text-shadow: 0 0 4px red, 0 0 12px red, 4px 4px 4px #4fa3d4, 4px 4px 4px red;
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
}
@media screen and (max-width: 480px) {
  h1.collection-title {
    text-align: center;
    line-height: 1 !important;
  }
}

.collection-description {
  font-family: "Oswald", sans-serif !important;
}
@media screen and (max-width: 480px) {
  .collection-description {
    margin: 15px 0px !important;
    text-align: center;
    line-height: 1.55;
  }
}

.flex-col-2-wrap {
  max-width: 100%;
  height: 100%;
  display: flex;
}

.flex-col-2-wrap ul {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 669px) {
  .flex-col-2-wrap ul {
    flex-direction: column;
  }
}

.flex-col-2-wrap img:first-child {
  height: 315px;
}
@media screen and (max-width: 600px) {
  .flex-col-2-wrap img:first-child {
    height: 235px;
  }
}

.flex-col-2-wrap a:hover {
  opacity: 1 !important;
}

/*# sourceMappingURL=custom.css.map */
